# EditorConfig is a platform-independent configuration file 
# that aims to define and maintain consistent coding styles across different editors and IDEs.
root = true

[*]
charset = utf-8
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

[*.ts]
quote_type = single

[*.md]
max_line_length = off
trim_trailing_whitespace = false
